// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----

$oswald: normal normal (24rem/16) 'Oswald';
$oswaldLight: normal lighter (24rem/16) 'Oswald';
$oswaldBold: normal bold (24rem/16) 'Oswald';
$oswaldItalic: italic lighter (24rem/16) 'Oswald';
$smallOswaldItalic: italic lighter (16rem/16) 'Oswald';
$montserrat: normal bold (24rem/16) 'Montserrat';
$yanone: normal bold (30rem/16) 'Yanone Kaffeesatz';
$smallYanone: normal bold (22rem/16) 'Yanone Kaffeesatz';