
//musician page photo

.musician-photo-large{

position: relative;
width: 100%;
padding-bottom: 10px;
padding-top: 10px;
}

.album-cover {

position: relative;
width: 100%;


}

//------------3-column block of copy with header bar-------------

.one-copy-block-object {
  padding: 10px 0px;
}

.one-copy-block-text {
  padding: 10px 0px;
}