
//musician page photo

.musician-photo-large{

position: relative;
width: 100%;
padding-bottom: 10px;
padding-top: 10px;
}

//search bar



//fix height of main page header----------

.small-12 {

  height: 93px;
  padding-bottom: 10px;
}


//sort bar on Albums section of musician page------------

.sort-bar {
  position: inline-block;
  float: right;
  font: $oswaldLight;
}

//------------3-column block of copy with header bar-------------

.one-copy-block-object {
  padding: 10px 0px;
}

.one-copy-block-text {
  padding: 10px 0px;
}